@font-face {
    font-family: Helvetica;
    src: url(HelveticaLTStd-Light.otf);
}

body {
    background-color: #FFCC00;
    margin: 0;
  }

.grid {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-rows: 100%;
}

h1, h2, h3, p, ul, li {
    font-family: "HelveticaLTStd-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}