@font-face {
    font-family: Helvetica;
    src: url(HelveticaLTStd-Light.otf);
}

body {
    background-color: #FFCC00;
    margin: 0;
  }

.grid {
    display: grid;
    width: 50vw;
    height: 100vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 20fr;
}


.navBar{
    background-color: rgb(124, 123, 123);
    height: 100%;
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 0;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: "HelveticaLTStd-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}


/* Refers to the class active that is already built-in when we built the NavLink */
/* We don't see it explicitly in the code, but it has the following:  aria-current="true" href="#/stuff" class="active">Stuff</a> */
.active {
    background-color: #0099FF;
}